<article id="SKILLS">
  <h1>SKILLS</h1>
  <p>I had a great skills in web development,i know the skills node.js,express and different frameworks like Angular.js,Ember.js,I am also interested in Hadoop ecosystem like Pig,Hive,Hbase,Spark,Scala.
  You can reach me to my linkedin profile <a>https://ca.linkedin.com/in/dhi-raj-25246510b</a></p>
</article><!-- article -->