<article class="speakerslist">
  <section class="layout">
    <div class="speakers">
      <% artists.forEach(function(item) { %>
        <article class="artist group">
         
            <p><a href="/speakers/<%= item.shortname %>">
              </a>
              <% if (page!= 'home') { %>
                <% if (page === 'artistList') { %>
                  <%- item.summary %>
                <% } else { %>
                  <%- item.description %>
                <% } %>
              <% } %>
            </a></p>
        </article>
      <% }); %>
    </div>
  </section>
</article>
