<article id="who i am ?">
  <h1>Who i am?</h1>
    <p>Basicaly i am from india ,i came to canada for study purpose,i done my studies recently,i am looking for a job as a web developer .</p>
    <p>I am very HardWork person,i am very much interested in learning differnet technologies,but i am sure i am definelty  big asset to organization by improving my knowledge continously striving hard for a organization,if you are intersted in contacting further  you can reach me at my given contact number .</p>
</article><!-- article -->