<article id="what i am looking for ?">
  <h1>What i am looking for ?</h1>
  <ul>
    <li>actively looking for a fulltime job, i had 
     2+ years of experience in web development using node.js& ember.js</li>
    <li>I created this website using node.js as a backend server and express generator for the front-end </li>
    <li>Those interested in meeting and making a connection with me you can contact me in by mail or by phone</li>
    <li>thanks dhiraj</li>
  </ul>
</article><!-- article -->